* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    font-size: 15px;
}

header nav ul li {
    display: flex;
}

header nav ul li, header nav a img {
    padding: 27px;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: #2d2e33;
}

header nav ul .contact {
    margin: 0 10px;
}

.btn-blue {
    background: #1e3684;
    color: #fff;
    padding: 10px 25px;
    border-radius: 500px;
    text-align: center;
    width: 120px;
    font-size: 14px;
    text-decoration: none;
}

/* GOLD BUTTON */

.btn-gold {
    background: #b7a088;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 500px;
    font-size: 14px;
}

main .presentation {
    width: 100%;
    display: flex;
    background-image: url("../src/home-hero-5c89fc46.webp");
    padding: 40px;
}

main .presentation .blueSquare {
    padding: 210px;
    background: #1e3684;
}

.subheading {
    font-size: 24px;
    font-weight: 400;
}

.description {
    font-size: 15px;
    color: #6C6D74;
    line-height: 1.74;
}

main .presentation .blueSquare .presentationTitle {
    font-size: 36px;
    color: #FFF;
}

main .presentation .blueSquare .expertise {
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    color: #FFFFFFB3;
}

main .presentation .blueSquare .servicesLinkContainer {
    margin-top: 50px;
}

main .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 140px 0;
}

main .services .service {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 22%;
}

main .services .serviceLink:hover {
    transition: 0.1s ease-in-out;
    box-shadow:0 5px 15px rgb(0 0 0 / 8%);
}


main .services .service .serviceLink {
    text-decoration: none;
    padding: 10px;
}

main .services .service .serviceName {
    margin-top: 20px;
}

main .services .service .serviceDescription {
    padding: 20px;
}

main .ourCompany {
    background-image: url("../src/home-company-bg-0adc10f2.webp");
    padding: 210px 250px;
    display: flex;
    flex-direction: column;
}

main .ourCompany >* {
    padding: 10px;
}

main .team {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

main .team .member {
    display: flex;
    width: 32.5%;
}

main .team .member a {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

main .team .member a img {
    object-fit: cover;
}

main .team .member a .memberInfos {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 95%;
    background: #1e3684;
    opacity: 0.8;
    padding: 20px;
    text-decoration: none;
}

main .team .member a .memberInfos .memberName {
    color: #FFF;
}

main .team .member a .memberInfos .memberPosition {
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF66;
}

main .team .member a:hover > .memberInfos {
    visibility: visible;
    transition-property: inherit;
    transition-duration: 0.5s;
}

main .chooseUs {
    display: flex;
    justify-content: center;
    padding: 130px 0;
}

main .chooseUs .chooseUsSection {
    width: 50%;
}

main .chooseUs .why {
    padding-left: 210px;
    padding-right: 50px;
}

main .chooseUs .why >* {
    padding: 15px;
}

main .chooseUs .why .whyTitle {
    padding-top: 0;
}

main .chooseUs .experience {
    padding-left: 30px;
}

main .chooseUs .experience .experienceTitle {
    font-size: 120px;
    color: #b7a088;
    font-weight: 400;
}

main .consultation {
    display: flex;
}

main .consultation > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

main .consultation .phoneMan {
    background-image: url("../src/home-contact-01-8d8f3819.webp");
}

main .consultation .consultationInfos {
    background-image: url("../src/home-contact-02-75c0e032.webp");
    position: relative;
    padding: 130px 80px;
    display: flex;
}

main .consultation .consultationInfos >* {
    z-index: 2;
    padding: 10px;
}

main .consultation .consultationInfos .bg-blue {
    background: rgba(33, 59, 147, 0.95);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

main .consultation .consultationInfos .consultationInfosTitle {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}

main .consultation .consultationInfos .consultationInfosDescription {
    color: #FFFFFFB3;
}

main .consultation .consultationInfos .consultationInfosLinks {
    margin-top: 50px;
}

main .consultation .consultationInfos .consultationInfosLinks >* {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

main .clients {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 130px;
}

main .clients .clientsTitle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 400;
    padding: 30px;
}

main .clients .clientsTitle .gold {
    color: #b7a088;
}

main .clients .clientsLogo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .clients .clientsLogo >* {
    padding: 30px;
}

main .blueTypeHeader {
    padding: 200px;
    background: rgba(30, 54, 132);
}
main .blueTypeHeader >* {
    position: relative;
    left: 1%;
    padding: 10px;
}

main .blueTypeHeader .blueTypeHeaderTitle {
    font-size: 45px;
    font-weight: 400;
    color: #fff;
}

main .blueTypeHeader .description {
    color: #FFFFFFB3;
}

main .blueTypeHeader .servicesHeaderDescription {
    font-size: 20px;
}

main .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 150px 120px 150px;
}

main .projects .project {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

main .projects .project .infos {
    width: 30%;
}

main .projects .project .infos >* {
    padding: 15px;
    font-weight: 400;
}

main .projects .project .infos .number {
    font-size: 64px;
    color: #a3a4a8;
}

main .projects .project .infos .more {
    text-decoration: none;
    color: #b7a088;
}

main .projects .project .illustration a img {
    height: 370px;
}

main .servicesCatalog {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    padding-top: 150px;
    padding-bottom: 150px;
}

main .servicesCatalog .servicesCatalogDownload {
    display: flex;
    justify-content: center;
}

main .servicesCatalog .servicesCatalogDownload >* {
    width: 33%;
    padding-right: 50px;
}

main .servicesCatalog .servicesCatalogDownload img {
    min-width: 305px;
}

main .servicesCatalog .servicesCatalogDownload .servicesCatalogDownload2017 {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

main .servicesCatalog .servicesCatalogDownload .servicesCatalogDownload2017 >* {
    margin-top: 15px;
}

main .servicesCatalog .tips {
    margin-top: 80px;
}

main .servicesCatalog .tips .tipsTitle {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}

main .servicesCatalog .tips .tipsTitle::before {
    content: "";
    display: inline-block;
    position: relative;
    top: calc(-.1 * 1em);
    vertical-align: middle;
    height: calc(4px + 0.7em);
    margin-right: calc(10px + 0.2em);
    border-left: calc(2px + 0.05em) solid #1e3684;
}

main .servicesCatalog .tips .tipsDoc {
    display: flex; 
    justify-content: space-between;
}

main .servicesCatalog .tips .tipsDoc .tipsDocSection {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-right: 70px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

main .servicesCatalog .tips .tipsDoc .tipsDocSection:not(:first-child) {
    margin-left: 20px;
}

main .servicesCatalog .tips .tipsDoc .tipsDocSection .tipsDocSectionList {
    margin-top: 20px;

}

main .servicesCatalog .tips .tipsDoc .tipsDocSection .tipsDocSectionList li {
    margin-top: 20px;
    list-style: none;
}

main .servicesCatalog .tips .tipsDoc .tipsDocSection .tipsDocSectionList li a {
    text-decoration: none;
    font-size: 15px;
    color: #a3a4a8;
}

main .servicesCatalog .tips .tipsDoc .tipsDocSection .tipsDocSectionTitle {
    font-size: 20px;
    font-weight: 400;
}

main .servicesCatalog .tips .tipsDownload {
    margin-top: 40px;
}

main .servicesCatalog .tips .tipsDownload a{
    text-decoration: none;
    font-size: 15px;
    color: #b7a088;
}

main .faq {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}

main .faq .faqTitle {
    margin-bottom: 40px;
    padding-right: 70%;
}

main .faq .faqBody {
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: center;
}

main .faq .faqBody .faqQuestions {
    display: flex;
    flex-direction: column;
}


main .faq .faqBody .faqQuestions .faqQuestion {
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    color: #a3a4a8;
}

main .faq .faqBody .faqAnswers {
    display: flex;
    flex-direction: column;
    width: 80%;
}

main .faq .faqBody .faqAnswer {
    display: none;
    padding-left: 30px;
}

main .faq .faqBody .faqAnswer:target {
    display: flex;
    flex-direction: column;
}

main .faq .faqBody .faqAnswer .faqAnswerBody {
    margin-top: 20px;
    line-height: 1.74;
    color: #6C6D74;
}

.servicesMain .services {
    padding: 100px 0;
    flex-wrap: wrap;
}

.servicesMain .services .service {
    text-align: start;
    padding-right: 50px;
    width: 30%;
    flex-grow: 2;
}

.servicesMain .services .service >* {
    margin-top: 25px;
}
.servicesMain .services .service .serviceLogo {
    width: 80px;
}

.servicesMain .services .service .serviceDescription {
    padding: 0;
}

.servicesMain .services .service .more {
    text-decoration: none;
    font-size: 14px;
}

.sidePadding {
    padding-left: 19% !important;
    padding-right: 19% !important;
}

/* /////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
                    FOOTER
////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////// */

footer {
    background: #1e3684;
    margin-bottom: 20px;
}

footer .footerRedirection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 200px 0 200px;
}

footer .footerSection {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 50px 0;
}

footer .footerSection .footerSectionTitle {
    padding-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

footer .footerSection .footerLink {
    color: #FFFFFF66;
    text-decoration: none;
    padding-top: 15px;
    font-size: 15px;
}

footer .credentials {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 200px;
}

footer .credentials .doc {
    padding: 10px;
}

footer .credentials .doc >* {
    text-decoration: none;
    font-size: 15px;
    color: #ffffffb3;
}

footer .credentials .doc .privacy {
    padding-left: 10px;
}

footer .credentials .doc .terms {
    border-right: #6C6D74 solid 1px;
    padding-right: 10px;
}

footer .credentials .copyrights {
    font-size: 12px;
    color: #FFFFFF66;
}

footer .credentials .copyrights a {
    text-decoration: none;
    color: #FFFFFF66;
}
